<ul id="slide-out" class="sidenav">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="/images/user-img-background.jpg">
            </div>
            <a><img class="circle" src="/images/user.png"></a>
            <a ><span class="white-text name">Welcome</span></a>
            <a ><span class="white-text email">Admin</span></a>
        </div>
    </li>

    <li><a class="subheader">MENU</a></li>
    <li><a class="waves-effect" href="/users">User</a></li>
    <li><a class="waves-effect" href="/item">Items</a></li>
    <li><a class="waves-effect" href="/orders/all_orders">Orders</a></li>
    <li><a class="waves-effect" href="/inventory">Inventory</a></li>
    <li><a class="waves-effect" href="/supplier/all_supplier">Supplier</a></li>
    <li><a class="waves-effect" href="/coupon-code">Coupon code</a></li>
    <li><a class="waves-effect" href="user-role">User roles</a></li>
    <li><a class="waves-effect" href="profile">Profile</a></li>
    <li><a class="waves-effect" href="/logout">Logout</a></li>
</ul>