<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/stylesheets/css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/css/main.css" media="screen,projection" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/animate.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<div style="margin-top: 3em; position: absolute; z-index: 99999; margin-left: 5em;" class="center-align">
  <% if(error && error.length > 0) { %>
    <div id="mydiv" class="card-panel" style="background-color: red; color: white; text-align: center; border-radius: 0.2px;"><%=error%></div>
  <% } %>
  <% if(success && success.length > 0) { %>
    <div id="mydiv" class="card-panel green accent-4" style="color: white;"><%=success%></div>  
  <% } %>
</div> 






