<nav style="height: 150px">
        <div class="nav-wrapper light-blue">
            <a href="#" data-target="slide-out" class="sidenav-trigger show-on-medium-and-up show-on-medium-and-down"><i class="material-icons large" style="margin-top: 20px;font-size: 25px">menu</i></a>
            <a href="#" class="brand-logo" style="margin-top: 20px;font-size: 22px">Coupon Codes</a>

            <ul class="right hide-on-med-and-down">
                <li><input type="text" class="input-field" style="margin-top: 18px;border-bottom: 10px;border-bottom-color: black"></li>
                <li><i class="material-icons white-text" style="font-size: 30px;margin-top: 18px;margin-right: 2%">search</i></li>
                <li><i class="material-icons white-text" style="margin-top: 18px;font-size: 30px">more_vert</i></li>
            </ul>

        </div>
    </nav>

    <ul id="slide-out" class="sidenav">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="images/user-img-background.jpg">
                </div>
                <a style="margin-bottom: 5em;"><img class="circle" src="images/user.png"></a>
                <a ><span class="white-text name">Welcome</span></a>
                <a ><span class="white-text email">Admin</span></a>
            </div>
        </li>

        <li><a class="subheader">MENU</a></li>
    <li><a class="waves-effect" href="/users">User</a></li>
    <li><a class="waves-effect" href="/item">Items</a></li>
    <li><a class="waves-effect" href="/orders/all_orders">Orders</a></li>
    <li><a class="waves-effect" href="/inventory">Inventory</a></li>
    <li><a class="waves-effect" href="/supplier/all_supplier">Supplier</a></li>
    <li><a class="waves-effect" href="/coupon-code">Coupon code</a></li>
    <li><a class="waves-effect" href="user-role">User roles</a></li>
    <li><a class="waves-effect" href="profile">Profile</a></li>
    </ul>